{% extends "base.html" %}
{% block title %} Home page {% endblock %}
{% block content %}
    <!-- {% with message = get_flashed_messages() %}
        {% if message %}
            {% for msg in message %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %} -->
 <!-- Landing Page Section -->
            <div id="landing-page" class="w-full text-center"> 
                <div class="bg-white p-10 rounded-xl shadow-lg border border-gray-200">
                    <h2 class="text-4xl font-bold text-gray-900 mb-4">Welcome to WES!</h2>
                    <p class="text-lg text-gray-600 mb-6">Your platform for mentorship and education.</p>
                </div>
            </div>
{% endblock %}
